{% extends 'base.html.twig' %}

{% block title %}Dame Palabra{% endblock %}

{% block body %}
<div>
<h1>  {{palabra}}</h1>
 <h1> <a href="/damepalabra/{{number}}"> Genera palabra aleatoria </a> </h1>
 <h1> <a href="/definicion/{{number}}"> Genera definición </a> </h1>
</div>

{% endblock %}